body {
  background-attachment: local;
  background-position: center;
  background-repeat: no-repeat;
  &.the-house-menu {
    background-image: url(./assets/images/the-house-white-svg-72dpi.svg);
    background-position: 50% 14rem;
    background-size: 120%;

    @include tablet {
      background-position: 52% 2rem;
      background-size: 78%;
    }

    @include desktop {
      background-size: 70%;
      background-position: 55% 2rem;
    }
  }

  &.galerie21-menu {
    background-image: url(./assets/images/gallery-white.svg);
    background-size: 100%;
    background-position: 50% 15rem;

    @include tablet {
      background-position: 52% 2rem;
      background-size: 78%;
    }

    @include desktop {
      background-size: 50%;
      background-position: 65% 2rem;
    }
  }

  &.residencies-menu {
    background-image: url(./assets/images/residencies-white.svg);
    background-size: 100%;
    background-position: 50% 15rem;

    @include tablet {
      background-position: 52% 2rem;
      background-size: 78%;
    }

    @include desktop {
      background-size: 70%;
      background-position: 55% 2rem;
    }
  }

  &.contact-menu {
    background-image: url(./assets/images/contact-white.svg);
    background-size: 100%;
    background-position: 50% 15rem;

    @include tablet {
      background-position: 52% 2rem;
      background-size: 78%;
    }

    @include desktop {
      background-size: 70%;
      background-position: 55% 2rem;
    }
  }

  .site {
    @include tablet {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
