footer#colophon {
  $width-social-media-block: 8rem;
  background-color: $color-purple-main;
  width: 100%;
  padding: $spacing * 3 $spacing * 4 $spacing * 4 $spacing * 2;
  margin-top: $spacing * 10;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-height: 50rem;
    margin-top: $spacing * 8;
  }

  address {
    color: $color-white-light;

    @include desktop {
      margin-bottom: 0;
    }
  }

  p {
    color: $color-white-light;
  }

  .site-info {
    @include tablet {
      width: calc(100% - #{$width-social-media-block});
    }
  }

  .site-branding {
    margin-bottom: $spacing * 5;
    .site-title {
      margin: 0;
      a {
        font-family: $font-headings;
        font-size: 2.6rem;
        color: $color-white-light;
        text-decoration: none;
      }
    }

    .site-description {
      margin: 0;
      font-size: $font-size-small;
    }
  }

  //   MENU LINKS
  #footer-menu {
    margin: 0;
    margin-bottom: $spacing * 4;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: $spacing $spacing * 2;

    @include tablet {
      max-width: 35rem;
    }

    @include desktop {
      max-width: 65rem;
    }

    li {
      list-style: none;
      position: relative;

      a {
        color: $color-green-main;
        text-transform: uppercase;
        position: relative;
        z-index: 1;
        height: 100%;
        display: inline-block;
        font-family: $font-headings;

        &:hover,
        &:focus-visible,
        &[aria-current='page']:hover,
        &[aria-current='page']:focus-visible {
          color: $color-green-light;
          text-decoration: none;
        }

        &:focus-visible {
          outline-width: 0.2rem;
          outline-offset: 0.1rem;
        }

        &[aria-current='page'] {
          background-color: $color-yellow-light;
          color: $color-purple-main;
          text-decoration: none;

          &:hover,
          &:focus-visible {
            background-color: $color-purple-light;
          }
        }
      }

      &::after {
        content: ' ';
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        position: absolute;
        background-color: transparent;
        z-index: 0;
        transition: background-color 100ms ease-in-out;
      }

      &:hover,
      &:focus-visible {
        &::after {
          background-color: $color-purple-light;
          transition: background-color 100ms ease-in-out;
        }
      }
    }
  }

  // SOCIAL MEDIA
  #block-15 {
    @include tablet {
      width: $width-social-media-block;
    }
  }
  .follow-title {
    font-family: $font-headings;
    margin-bottom: $spacing;

    @include tablet {
      display: none;
    }
  }

  .wp-block-social-links {
    @include tablet {
      flex-direction: column;
      gap: $spacing * 2;
    }

    @include desktop {
      align-items: flex-start;
    }

    li.wp-social-link.wp-block-social-link {
      background-color: $color-purple-main;

      &:hover {
        background-color: $color-purple-light;
        svg {
          fill: $color-yellow-light !important;
        }
      }

      svg {
        fill: $color-white-light !important;
      }

      &.wp-social-link-instagram {
        a {
          background-image: url(/wp-content/themes/vorwerkstift/assets/images/instagram-icon-white.svg);
        }
        &:hover {
          a {
            background-image: url(/wp-content/themes/vorwerkstift/assets/images/instagram-icon-yellow.svg);
          }
        }
      }
    }
  }

  .copyright {
    margin-bottom: 0;
    font-size: 1.2rem;
    width: 100%;
  }
}
