.scrollable {
  overflow-y: auto;
  height: calc(100vh - #{$height-mobile-header});
  padding: $spacing * 2;
  margin-top: $height-mobile-header;
  
  

  @include tablet {
    height: 100vh;
    width: calc(100vw - 5rem - #{$spacing} * 2 - #{$width-desktop-main-nav} + #{$border-width});
    margin-left: calc(5rem + #{$spacing} * 2);
    margin-top: 0;
    padding: $spacing * 2 $spacing * 3 0 $spacing * 2;
  }

  @include mediumLargeHeight {
    width: calc(100vw - 5rem - #{$spacing} * 2 - #{$width-medium-desktop-main-nav} + #{$border-width});

  }

  @include largeHeight {
    width: calc(100vw - 5rem - #{$spacing} * 2 - #{$width-large-desktop-main-nav} + #{$border-width});

  }
}