.scrollable {
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  height: calc(100vh - #{$height-mobile-header});
  margin-top: $height-mobile-header;

  @include tablet {
    margin-top: 0;
    height: 100vh;
    width: calc(100vw - #{$width-desktop-main-nav} + #{$border-width});

    .container-padding {
      display: flex;
      flex-wrap: wrap;
      padding: $spacing * 2 $spacing * 3 0 $spacing * 2;
      margin-right: $spacing * 3;

      @include desktop {
        flex-direction: column;
        flex-wrap: nowrap;
      }
    }
  }
}
