.section-title {
    font-size: $font-size-large;
    font-family: $font-headings;
    color: $color-purple-main;
    margin: 0;
    text-align: center;
    margin-top: $spacing * 2;

    @include tablet {
        font-size: 6.4rem;
        text-align: left;
        line-height: 0.7;
        margin-top: 0;
    }
}