.front-page {
  @include tablet {
    #main-container {
      display: flex;
      margin-left: 0;
      gap: $spacing * 2;
      width: calc(100% - #{$spacing * 4});

      @include desktop {
        margin-left: 6.6rem;
      }
    }

    #sidebar-tablet {
      top: 52rem;
      .container {
        height: fit-content;
      }
    }

    #sidebar-desktop section {
      top: 48rem;
      height: fit-content;
    }
  }
}
