// Colors
$color-purple-main: #4B107A;
$color-purple-light: #6b22a6;
$color-black-dark: #1C1C1C;
$color-white-light: #FFFFFF;
$color-green-main:  #8AD077;
$color-grey-light: #C0C0C0;
$color-green-light: #AFED9E;
$color-yellow-light: #F0F0D2;

// Spacing
$spacing: 0.8rem;

// Borders
$border-width: $spacing / 2;
$outline-green: .4rem solid $color-green-main;
$outline-purple: $border-width solid $color-purple-main;
$border-purple: $border-width solid $color-purple-main;

// Font Family
$font-body: 'Open sans', sans-serif;
$font-headings: 'lackregular', serif;

// Font Size

$font-size-base: 1.6rem;

// regular mesurements
$height-mobile-header: 7rem;
$width-desktop-main-nav: 4.9rem;	
$width-medium-desktop-main-nav: 7rem;
$width-large-desktop-main-nav: 9rem;
