// Colors
$color-purple-main: #4b107a;
$color-purple-light: #6b22a6;
$color-black-dark: #1c1c1c;
$color-white-light: #ffffff;
$color-green-main: #51d52d;
$color-grey-light: #c0c0c0;
$color-green-light: #bbe8af;
$color-green-dark: #5b9547;
$color-yellow-light: #f2f3c1;

// Spacing
$spacing: 0.8rem;

// Borders
$border-width: $spacing / 2;
$outline-green: $border-width solid $color-green-dark;
$outline-purple: $border-width solid $color-purple-main;
$border-purple: $border-width solid $color-purple-main;

// Font Family
$font-body: 'Open sans', sans-serif;
$font-headings: 'lackregular', serif;

// Font Size

$font-size-base: 1.6rem;
$font-size-medium: 2.4rem;
$font-size-large: 3.2rem;

// regular mesurements
$height-mobile-header: 7.2rem;
$width-desktop-main-nav: 4.9rem;
$width-medium-desktop-main-nav: 7rem;
$width-large-desktop-main-nav: 3.5rem;

// transitions
$hover-transition: ease-in-out background-color 100ms;
