// // Colors
// $color-grey: #878787;

// // Borders
// $border-thin: 1px black solid;

// // Font Family
$font-body: 'Open sans';
$font-headings: 'lackregular', serif;

// $font-weight-light: 400;
// $font-weight-bold: 700;

// // Font Size
// $font-size-biggest: 2.8rem;
// $font-size-largest: 2.3rem;
// $font-size-large: 1.9rem;
$font-size-base: 1.6rem;
// $font-size-small: 1.3rem;
// $font-size-smallest: 1rem;

// // Spacing
// $spacing-small: .75rem;
// $spacing-single: 1rem;
// $spacing-double: 2rem;
// $spacing-triple: 3rem;
// $spacing-big: 6rem;

// $spacing-mobile: 1.6rem;
// $spacing-tablet: 2.5rem;


// // Media queries
// $desktop: 800px;
// $tablet: 600px;


// // regular heights
// $height-mobile-nav: 7.3rem;
// $height-tablet-nav: 9.5rem;