/*** RESETS ***/

:root {
  font-size: 62.5%;
}

* {
  line-height: 1.6;
}

html,
body {
  margin: 0;
  color: black;

  background-color: transparent;
  font-family: $font-body;
  // line below might hinder sticky positions
  overflow: hidden;
  background-color: $color-grey-light;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: $font-size-base;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-headings;
  font-weight: normal;
}

a,
button {
  touch-action: manipulation;
  &:focus-visible {
    outline: $outline-green;
    outline-offset: -$spacing / 2;
  }
}

a {
  font-family: $font-body;
  word-break: break-word;
}

button {
  font-family: $font-headings;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

address {
  font-style: normal;
}

.screen-reader-only {
  position: absolute;
  width: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
  white-space: nowrap;
}
