/*** RESETS ***/

:root {
    font-size: 62.5%;
}


html,
body {
margin: 0;
color: black;

background-color: transparent;
font-family: $font-body;
// line below might hinder sticky positions
overflow-x: hidden;
box-sizing: border-box;
scroll-behavior: smooth;
font-size: $font-size-base;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-headings;
}

a, button {
    touch-action: manipulation;
}