.sponsor {
  background-color: $color-white-light;
  position: relative;
  padding: $spacing * 3 $spacing * 2 0;
  margin-top: $spacing;
  min-width: 16rem;
  align-items: center !important;

  p {
    font-family: $font-body;
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
    display: block;
    position: absolute;
    top: $spacing * 1;
    left: 0;
  }

  img {
    max-width: 8rem;
  }
}
